@import 'tailwindcss';

:root {
  --background: #ffffff;
  --background-light: #fafafa;
  --foreground: #171717;
  --primary: #0f1368;
  --secondary: #3758f9;
  --accent: #3b8fee;
  --primary-light: #5b7cfa;
  --primary-bg: #e8ecff;
  --light: #e9f5fe;
  --gray-text: #4d4d4d;
  --white-color-label: #f8f8f8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.color-gray-text {
  color: var(--gray-text);
}

.color-primary {
  color: var(--primary);
}

.bg-primary {
  background-color: var(--primary);
}
.bg-secondary {
  background-color: var(--secondary);
}
.bg-accent {
  background-color: var(--accent);
}


