.icon-logout {
  display: flex;
  height: 20px;
  width: 20px;
  background-image: url('../assets/icons/icon-logout.svg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}



.Logo-image {
  display: flex;
  height: 100%;
  width: 100%;
  background-image: url('../assets/icons/Logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}


.overlay-image {
  display: flex;
  height: 100%;
  width:  100%;
  background-image: url('../assets/icons/overlay.svg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}



.sidebar-image {
  display: flex;
  height: 100%;
  width: 100%;
  background-image: url('../assets/icons/sidebar.svg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}





