.icon-logout {
  display: flex;
  height: 15px;
  width: 15px;
  background-image: url('../assets/icons/icon-logout.svg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.menu-icon{
  display: flex;
  height: 15px;
  width: 15px;
  background-image: url('../assets/icons/iconMenu.svg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}


